<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>..: ASOGROTEM :..</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/png" />
    <script type="text/javascript" src="/static/dist/js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/css/flatly.css">
    <link rel="stylesheet" href="/static/dist/css/main.css">
    <link rel="stylesheet" href="/static/dist/css/slider.css">
    <link rel="stylesheet" href="/static/dist/css/blue.css">
    <script type="text/javascript" src="/static/dist/js/main.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/dist/js/jquery.sticky.js"></script>
<script>
    $(window).load(function(){
      $("#header").sticky({ topSpacing: 0 });
    });
  </script>

    {% block scripts %}

    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="/static/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <!-- Add fancyBox -->
    <link rel="stylesheet" href="/static/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    <!-- Optionally add helpers - button, thumbnail and/or media -->
    <link rel="stylesheet" href="/static/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="/static/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

    <link rel="stylesheet" href="/static/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

    {% endblock %}

    <style>
        #header {

      color: white;

      font-size: 18px;
      line-height: 1.6em;
      font-weight: bold;
      text-align: center;

      text-shadow: 0 1px 1px rgba(0,0,0,.2);
      width:100%;
      box-sizing:border-box;
    }
    </style>

</head>
<body>
<div class="header">

<div class="container cent">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="row" >
            <center><div id="ex4" class="col-md-4" style=" padding-top: 10px; padding-bottom: 10px;"><a href="/"> <img class="img-responsive" src="/static/img/logo.png" alt=""/></a></div></center>
            <div class="col-md-8 headerTitle visible-md visible-lg">ASOGROTEM</div>
            <div class="col-md-8 visible-sm visible-xs" style="text-align: center"><h1>ASOGROTEM</h1></div>
            </div>
        </div>
    </div>
</div>
</div>

<div id="header" style="width:100%;z-index: 1">
<nav class="navbar navbar-inverse barra" role="navigation" style="z-index: 1">
  <div class="container cent" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" >MENU</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="inicio" class="active"><a href="/">Inicio</a></li>
        <li id="origen"><a href="/origen/">Origen</a></li>
        <li id="empresa" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Empresa<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="misionYvision"><a href="/misionYvision/">Misión y Visión</a></li>
            <li class="objetivos"><a href="/objetivos/">Objetivos</a></li>
            <li><a href="/politicas/">Políticas</a></li>
            <li><a href="/estructuraFuncional/">Estructura Funcional</a></li>
            <!--<li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>-->
          </ul>
        </li>
        <li id="noticias"><a href="/noticias/">Noticias</a></li>
        <li id="productos"><a href="/productos/">Productos</a></li>
        <li id="proyectos"><a href="/proyectos/">Proyectos</a></li>
        <li id="galeria"><a href="/galeria/">Galería</a></li>
        <li id="florayfauna"><a href="/florayfauna/">Flora y Fauna</a></li>
        <li id="contacto"><a href="/contacto/">Contacto</a></li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</div>
<br/>
{% block contenido %}


{% endblock %}


<div class="container cent2">
        <div class="row">

            <div class="col-md-8">
                {% block contenido-md-8 %}
                {% endblock %}
            </div>
            <div class="col-md-4">
                {% block contenido-md-4 %}
                {% endblock %}
            </div>

        </div>
</div>




<footer>

    <div class="container cent">
        <div class="row">
            <div class="col-md-4">
                <div class="widget">
						<h4>About Us</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum dolor eget nisi fermentum quis hendrerit magna vestibulum. </p>
					</div>
            </div>


            <div class="col-md-4">
                <div class="widget">
						<h4>About Us</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum dolor eget nisi fermentum quis hendrerit magna vestibulum. </p>
					</div>
            </div>

            <div class="col-md-4">
                <div class="widget">
						<h4>About Us</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum dolor eget nisi fermentum quis hendrerit magna vestibulum. </p>
					</div>
            </div>
        </div>
    </div>

</footer>

<script type="text/javascript">
{% block js %}
{% endblock %}
</script>


</body>
</html>


