

{% extends 'base.html' %}

{% block contenido-md-8%}

    <div class="row well">
        <h3 class="well titulo">Contáctenos</h3>
                    <div class="col-sm-4"><img class="img img-responsive" src="/static/img/contacto.png" alt=""/></div>
                    <div class="col-sm-8">
                    <p class="contactos">



                        <label >Nuestra oficina principal (Ecuador):</label>
                        <br/>
                        DIRECCION<label for="">&nbsp;</label>
                        <br/>
                        <label>Mail:&nbsp;</label><a href="mailto:asogrotem@hotmail.com">asogrotem@hotmail.com</a>
                        <br/>
                        <label>​​Cel:&nbsp;</label>0993800991
                        <br/>
                        <label>Cel:&nbsp;</label>0981770089
                        <br/>



                    </p>
                    </div>
    </div>

    <hr/>

    <div class="row well">
        <h3 class="well titulo">Correo</h3>
                    <div class="col-sm-4"><img class="img img-responsive" src="/static/img/correo.png" alt=""/></div>
                    <div class="col-sm-8">
                    <p class="contactos">
                        <!--<form action="/enviarCorreo/" method="post" role="form">-->

                          <div class="form-group">
                            <label for="nombreId">Nombre</label>
                            <input type="text" class="form-control" id="nombreId" name="txtNombre" placeholder="Ingrese su nombre" required>
                          </div>

                          <div class="form-group">
                            <label for="correoId">Correo</label>
                            <input type="email" class="form-control" id="correoId" name="txtCorreo" placeholder="Ingrese su correo" required>
                          </div>


                          <div class="form-group">
                            <label for="telefonoId">Teléfono</label>
                            <input type="number" class="form-control" id="telefonoId" name="txtTelefono" placeholder="Ingrese su numero telefonico" required>
                          </div>

                          <div class="form-group">
                            <label for="mensajeId">Mensaje</label>
                              <textarea name="txtContenidoMensaje" class="form-control " id="mensajeId" cols="30" rows="10" required></textarea>

                          </div>


                          <div id="mensajeEnviado">
                          </div>

                          <button onclick="correito()" class="btn btn-primary">Enviar</button>
                        <!--</form>-->



                    </p>
                    </div>
    </div>
{% endblock %}

{% block contenido-md-4 %}
    <a href="/galeria/"><img style="border-radius: 5px" class="img img-responsive" src="/static/img/galeria.gif" alt=""/></a>
    <br/>
    <div align="center"><iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Flatembladera%3Ffref%3Dts&amp;width=310&amp;height=490&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:310px; height:490px;" allowTransparency="true"></iframe></div>
{% endblock %}

{% block js %}

    $("#inicio").removeClass("active");
    $("#contacto").addClass("active");
    function correito(){
     var nombre = $("#nombreId").val();
     var correo = $("#correoId").val();
     var telefono = $("#telefonoId").val();
     var mensaje = $("#mensajeId").val();
     $.ajax({
        data : {'nombre':nombre , 'correo':correo , 'telefono':telefono , 'mensaje':mensaje},
        url : '/enviarCorreo/',
        type : 'get',
        success: function(data){
            var html = "<h3>"+data+"</h3>";
            $('#mensajeEnviado').html(html);
            document.getElementById("nombreId").value='';
            document.getElementById("correoId").value='';
            document.getElementById("telefonoId").value='';
            document.getElementById("mensajeId").value='';
         }

    });

    }

{% endblock %}