{% extends 'base.html' %}

{% block contenido %}
    <div class="container cent">
        <div class="row">
            <div class="col-xs-12 well">
                <br/>
                <h1 class="titulo well"> ESTRUCTURA FUNCIONAL</h1><!--720 x 560-->
             <div class="visible-xs visible-md "><img class="img-responsive" src="/static/img/organigrama.png" alt="" width="100%" style="border-radius: 5px"/></div>
            <div  class="visible-lg"align="center"><object width="900" height="560" data="/static/img/Organigrama.swf"></object></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    $("#inicio").removeClass("active");
    $("#empresa").addClass("active");
{% endblock %}