

{% extends 'base.html' %}

{% block contenido-md-8%}

    <div class="row">
    <h1 class="titulo">FLORA Y FAUNA</h1>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
            <li data-target="#carousel-example-generic" data-slide-to="7"></li>
            <li data-target="#carousel-example-generic" data-slide-to="8"></li>
            <li data-target="#carousel-example-generic" data-slide-to="9"></li>
            <li data-target="#carousel-example-generic" data-slide-to="10"></li>
            <li data-target="#carousel-example-generic" data-slide-to="11"></li>


          </ol>

  <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img  src="/static/img/flor1.jpg" alt="...">
            </div>
            <div class="item">
              <img src="/static/img/flor2.jpg" alt="...">
            </div>
            <div class="item">
              <img src="/static/img/flor3.jpg" alt="...">
            </div>
            <div class="item">
              <img src="/static/img/flor4.jpg" alt="...">
            </div>
            <div class="item">
              <img src="/static/img/flor5.jpg" alt="...">
            </div>
            <div class="item">
              <img src="/static/img/flor6.jpg" alt="...">
            </div>
            <div class="item">
              <img src="/static/img/flor7.jpg" alt="...">
            </div>
            <div class="item">
              <img src="/static/img/flor8.jpg" alt="...">
            </div>
            <div class="item">
              <img src="/static/img/flor9.jpg" alt="...">
            </div>
            <div class="item">
              <img src="/static/img/flor10.jpg" alt="...">
            </div>
            <div class="item">
              <img src="/static/img/flor11.jpg" alt="...">
            </div>
            <div class="item">
              <img src="/static/img/flor7.jpg" alt="...">
            </div>

          </div>

    </div>
</div>
    <br/>
<div class="row well">
    <div class="col-md-8">
     <p>
        Su “encanto natural” se extiende en medio de uno de los ecosistemas con gran biodiversidad, que alberga abundantes especies animales y vegetales, muchas de ellas endémicas y, otras, en peligro de extensión.
     </p>
     <p>
        Su belleza, que sin duda es sobretodo natural, tiene entre las comunidades asentadas o aledañas de la zona, a uno de sus mejores aliados para la conservación; pues se esfuerzan, día a día, para proteger el humedal y procurar hábitos de vida sostenibles, sustentables y respetuosos del entorno.
     </p>
     <p>
        Viva, entonces, una de las experiencias más gratificantes de su vida. Pues no solo visitará lugares únicos en el mundo, sino que aprenderá cómo coexistir en armonía con la naturaleza, con mucho menos de lo que puede imaginarse, y dejando un mejor lugar para quienes vendrán después.
     </p>
    </div>
    <div class="col-md-4"><br/>
        <center><img class="img img-responsive" src="/static/img/especies1.jpg" alt=""/></center>
    </div>
</div>

<div class="row well">
    <div class="col-md-4"><br/>
        <center><img class="img img-responsive" src="/static/img/especies2.jpg" alt=""/></center>
    </div>
    <div class="col-md-8">
        <p>
        Este ecosistema agrupa varias lagunas y ríos permanentes y estaciónales de baja potencia y de primer y tercer orden; que nacen en la llanura costera, a menos de 100 metros sobre el nivel del mar (m.s.n.m.), hacia el norte del ramal sur occidente externo de la Cordillera de los Andes. Estos sistemas se desarrollan en terrenos con pendientes mayores a 0,1%, y con suelos heterogéneos, que están cubiertos por bosques secos tropicales. Además, rodea el sistema de la zona de depósito del Río Arenillas, que es permanente, tiene drenaje retorcido y es de baja potencia.
        </p>
        <p>
        Las lagunas, entre las que está “La Tembladera”, pueden tener influencia del Arenillas como del estuario de otros ríos aledaños.

        </p>
    </div>
</div>

 <div class="row well">
    <div class="col-md-8">
     <p>
     El cuerpo de agua está cubierto en un 75% por vegetación flotante natural, donde predominan especies como Pistiastratoides (conocida como lechuga por pobladores del sector) y Eichhorniacrassipes (conocido como lechuguín u orejón). Estas especies se desplazan por la superficie de la laguna de acuerdo a la dirección y fuerza del viento.
     </p>
     <p>
     En el humedal y su área de inundación, las orillas están dominadas por grandes extensiones de Thypha latifolia, conocida como totorales. La abundante vegetación acuática es propicia para la anidación de ciertas especies de aves y cumple funciones muy importantes como depurar el agua, alimento y refugio de peces.
     </p>
     <p>
     En “La Tembladera”, sin embargo, hay evidencias de un alto grado de intervención debido a cultivos de ciclo corto como tomate, pimiento, sandía y arroz, que se desarrollan en
     </p>
    </div>
    <div class="col-md-4"><br/>
        <center><img class="img img-responsive" src="/static/img/especies3.jpg" alt=""/></center>
    </div>
</div>
{% endblock %}


{% block contenido-md-4 %}
    <br/><br/><br/>
    <a href="/galeria/"><img style="border-radius: 5px" class="img img-responsive" src="/static/img/galeria.gif" alt=""/></a>
    <br/>
    <a href="http://latembladera-ecuador.com/tembladera/" target="_blank"><img style="border-radius: 5px" class="img img-responsive" src="/static/img/humedal.gif" alt=""/></a>
    <br/>
    <div align="center"><iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Flatembladera%3Ffref%3Dts&amp;width=310&amp;height=490&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:310px; height:490px;" allowTransparency="true"></iframe></div>
{% endblock %}



{% block js %}
    $("#inicio").removeClass("active");
    $("#florayfauna").addClass("active");
    			$(function() {

				/*$('#da-slider').cslider({
					autoplay	: true,
					interval : 4000
				});*/

                $('.carousel').carousel({
                    interval: 1500
                });

			});

{% endblock %}