{% extends 'base2.html'%}

{% block css %}
{% endblock %}


{% block contenido %}





<!-- carousel
<div class="container cent2">
    <div id="carousel-example-generic" class="carousel slide borSlide" data-ride="carousel">

          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>


        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" src="/static/img/car1.jpg" alt="...">
            </div>
            <div class="item">
                <img src="/static/img/car2.jpg" alt="...">
            </div>

            <div class="item">
                <img src="/static/img/car2.jpg" alt="...">
            </div>

            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            </a>

        </div>
    </div>

</div><!-- fin del container del carousel-->


<div class="container cent2">
    <div id="carousel-example-generic" class="carousel slide borSlide" data-ride="carousel">
  <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

  <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="/static/img/car1.png" alt="...">
            </div>
            <div class="item">
              <img src="/static/img/car2.png" alt="...">
            </div>
            <div class="item">
              <img src="/static/img/car3.png" alt="...">
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
    </div>
</div>


    <br/>


{% endblock %}


{% block contenido-md-8 %}
    <div class="row">
        <div class="col-md-6">
              <div align="center">
              <img class="img-circle" src="/static/img/prodabajo1.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
              <h2 class="h2block">PRODUCTOS</h2>
              </div>
              <p style="text-align: center">Vino de naranja, Chocolate artesanal y Mermelada de papaya con banano, son algunos de los productos orgánicos que las comunidades de La Tembladera ofrecen a sus visitantes.</p>
              <p style="text-align: center"><a class="btn btn-success" href="/productos/" role="button">Ver detalles &raquo;</a></p>

        </div><!--.col-md-6-->

        <div class="col-md-6">
          <div align="center">
          <img class="img-circle" src="/static/img/origen3.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2 class="h2block">PROYECTOS</h2>
          </div>
          <p style="text-align: center">Asogrotem  a lo largo del tiempo ha venido desarrollando diferentes proyectos para el bien de la comunidad, tales como proyectos biofertilizantes, muelles turisticos integrales, entre otros.</p>
          <p style="text-align: center"><a class="btn btn-success" href="/proyectos/" role="button">Ver detalles &raquo;</a></p>
        </div>
    </div>
    
<div class="row well" style="margin-left: 0px;">
    <div class="col-xs-12 titulo">
        <h1 >Sitio desarrollado gracias a la colaboración de la</h1>
        <center><a href="http://www.utmachala.edu.ec" target="_blank"><img class="img img-responsive" src="/static/img/logo_utm.png" alt=""/></a></center>
        <br/>
    </div>

</div>
{% endblock %}

{% block contenido-md-4 %}
    <a href="/galeria/"><img style="border-radius: 5px" class="img img-responsive" src="/static/img/galeria.gif" alt=""/></a>
<br/>
    <div class="panel panel-primary">
        <div class="panel-heading">
        <h1 class="panel-title" style="text-align: center">NOTICIAS</h1>
        </div>
        <div class="panel-body">
        {% for i in noticias %}
            <h3 style="text-align: center">{{ i.titulo }}</h3>
            <br/>
            <span class="label label-success">Fecha:</span>&nbsp;&nbsp;{{ i.fecha }}
            <br/><br/>
            <center><img class="img-responsive" src="/media/{{ i.imagen }}" width="75%" style="border-radius: 6px;" alt=""/></center>
            <br/>
            <p style="text-align: justify">
            {{ i.contenido | truncatewords:20 | safe}} &nbsp; <a href="/ver_noticia/{{ i.id }}"><b>Leer mas...</b></a>
            </p>
            <hr/>
            {% empty %}
            <h2>No hay Noticias</h2>
            {% endfor %}

<h4 style="text-align: center">
        {% if noticias.has_previous %}
            <a href="?page={{ noticias.previous_page_number }}">Anterior</a>
        {% endif %}

         Página {{ noticias.number }} de {{ noticias.paginator.num_pages }}

        {% if noticias.has_next %}
             <a href="?page={{ noticias.next_page_number }}">Siguiente</a>
        {% endif %}
</h4>

        </div>
    </div>



{% endblock %}



{% block js %}

    <script src="/static/dist/js/slider.js"></script>
    <script src="/static/dist/js/modernizr.js"></script>
		<script>
			$(function() {

				/*$('#da-slider').cslider({
					autoplay	: true,
					interval : 4000
				});*/

                $('.carousel').carousel({
                    interval: 1500
                });

			});
		</script>
{% endblock %}