{% extends 'base.html' %}

{% block contenido-md-8 %}
<div class="panel panel-primary">
        <div class="panel-heading">
        <h1 class="panel-title" style="text-align: center">NOTICIAS</h1>
        </div>
        <div class="panel-body">
        {% for i in noticias %}
            <h3 class="well" style="text-align: center">{{ i.titulo }}</h3>
            <br/>
            <span class="label label-success">Fecha:</span>&nbsp;&nbsp;{{ i.fecha }}
            <br/><br/>
            <center><img class="img-responsive" src="/media/{{ i.imagen }}" width="65%" style="border-radius: 6px;" alt=""/></center>
            <br/>
            <span class="label label-success">Contenido:</span>&nbsp;&nbsp;
            <p style="text-align: justify">
            {{ i.contenido | truncatewords:20 | safe}} &nbsp; <a href="/ver_noticia/{{ i.id }}"><b>Leer mas...</b></a>
            </p>
            <hr/>
            {% empty %}
            <h2>No hay Noticias</h2>
            {% endfor %}

<h4 style="text-align: center">
        {% if noticias.has_previous %}
            <a href="?page={{ noticias.previous_page_number }}">Anterior</a>
        {% endif %}

         Página {{ noticias.number }} de {{ noticias.paginator.num_pages }}

        {% if noticias.has_next %}
             <a href="?page={{ noticias.next_page_number }}">Siguiente</a>
        {% endif %}
</h4>

        </div>
    </div>



{% endblock %}


{% block contenido-md-4 %}
    <a href="/galeria/"><img style="border-radius: 5px" class="img img-responsive" src="/static/img/galeria.gif" alt=""/></a>
    <br/>
    <a href="http://latembladera-ecuador.com/tembladera/" target="_blank"><img style="border-radius: 5px" class="img img-responsive" src="/static/img/humedal.gif" alt=""/></a>
    <br/>
    <div align="center"><iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Flatembladera%3Ffref%3Dts&amp;width=310&amp;height=490&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:310px; height:490px;" allowTransparency="true"></iframe></div>
{% endblock %}

{% block js %}
    $("#inicio").removeClass("active");
    $("#noticias").addClass("active");
{% endblock %}