{% extends 'base.html' %}

{% block contenido-md-8 %}




    <div class="row">

        <div class="col-xs-12">
                            <ul class="nav nav-tabs" role="tablist" id="myTab">
                  <li class="active"><a href="#origen2" role="tab" data-toggle="tab">Origen</a></li>
                  <li><a href="#historia" role="tab" data-toggle="tab">Historia de ASOGROTEM</a></li>
                  <li><a href="#leyendas" role="tab" data-toggle="tab">Leyendas</a></li>


                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="origen2">

                        <div class="row featurette">
                            <div class="col-md-7">
                                <br/>
                                <h2 class="featurette-heading">Origen de Asogrotem</h2>
                                <p class="origen">
                                Según la Propuesta de Gestión Ambiental para el Desarrollo Sostenible de los Humedales de Santa Rosa y Arenillas, “El sistema de humedales pertenecientes a los cantones de Santa Rosa y Arenillas está constituido por una serie de lagunas, pozas, pantanos, charcos, canales grandes y pequeños, muchos de ellos conectados entre si por canales naturales superficiales o por conexiones subterráneas, de manera que cuando se producen avenidas en los ríos Santa Rosa y Arenillas, los niveles de todo el sistema sube e igualmente lo hacen como consecuencia del aumento de aguas de escorrentías en época de precipitaciones”
                                </p>
                            </div>
                            <div class="col-md-5">
                                <br/>
                                <center><img class="featurette-image img-responsive" src="/static/img/origen1.jpg" alt="Generic placeholder image"></center>
                            </div>
                         </div>

                        <div class="row featurette">
                            <div class="col-md-5">
                                <br/>
                                <center><img class="featurette-image img-responsive" src="/static/img/origen2.jpg" alt="Generic placeholder image"></center>
                            </div>
                            <div class="col-md-7">
                                <br/><br/>

                                <p class="origen">
                                Según, Cañadas (1983) La Tembladera pertenece a la zona de vida monte espinoso Tropical, la cual en la región suroeste del Ecuador es una franja que va desde Pagua hacia el sur y comprende Machala, Manglares del Motuche y Chacras, en la que se distinguen zonas muy características que siguen una dirección de oeste a este en el orden siguiente: 1.- Zona de Manglares a lo largo del canal de Jambelí, 2.- Zona de sabanas o tembladeras que se inundan en invierno, y, 3.- Zona de tierra firme o de cultivos que se extienden entre la sabana y el pie de la montaña.
                                </p>
                            </div>
                         </div>

                    </div>

                    <div class="tab-pane fade" id="historia">
                        <div class="row featurette">
                            <div class="col-md-7">
                                <br/>
                                <h2 class="featurette-heading">Historia de Asogrotem </h2>
                                <p class="origen">
                                No se tienen datos precisos del porqué del nombre “La Tembladera”, los moradores del lugar comentan que, desde que tienen uso de razón tiene ese nombre.
                                </p>
                                <br/>
                                <p class="origen">
                                Al recabar información referente a este tema, podrían señalarse los siguientes puntos donde se describe las posibles causas para que haya sido bautizada con ese nombre:
                                </p>
                                <p class="origen">
                                En una parte de la laguna, en una camino que utilizaban en antaño para hacer cruce y llegar a Santa Rosa, camino conocido como Las Cabuyas, se dice que salían fantasmas (el muerto) en las noches y, el que pasaba por esa zona, hasta el más valiente, pasaba temblando; de ahí el nombre de “La Tembladera”.
                                </p>
                            </div>
                            <div class="col-md-5">
                                <br/><br/>
                                <center><img class="featurette-image img-responsive" src="/static/img/origen3.jpg" alt="Generic placeholder image"></center>
                            </div>
                         </div>

                        <div class="row featurette">
                            <div class="col-md-5">
                                <br/><br/>
                                <center><img class="featurette-image img-responsive" src="/static/img/origen1.jpg" alt="Generic placeholder image"></center>
                            </div>
                            <div class="col-md-7">
                                <br/><br/>

                                <p class="origen">
                                    Existió una loma en la parte sur-oeste del humedal que le decían “La Tembladera”. Ciertamente, el por qué de ese nombre se desconoce pero, siempre se iba a cortar leña en esa zona y, como quedaba junto al humedal, éste fue recibiendo el mismo nombre.
                                </p>
                                <p class="origen">
                                    Las grandes cantidades de totora en descomposición en el humedal generaba sedimentación a las orillas del mismo. Tanto en tiempo de invierno como en verano, este sedimento parecía tierra firme y, cuando alguien lo pisaba, este temblaba y la persona se fondeaba.
                                    En fin, son tantas posibles razones para que se le haya adjudicado ese nombre pero, algo si se tiene seguro, es un encanto natural incomparable.
                                </p>
                            </div>
                         </div>
                    </div>

                    <div class="tab-pane fade" id="leyendas">

                        <div class="row featurette">
                            <div class="col-md-7">
                                <br/>
                                <h2 class="featurette-heading">Leyendas </h2>
                                <p class="origen">
                                <br/>
                                No está por demás mencionar los misteriosos sucesos que se dieron en las comunas aledañas al Humedal. AL hablar de "sucesos" nos referimos a los casos insólitos que nuestros padres y abuelos contaban, a sus hijos y nietos, sobre las cosas sobrenaturales que se “ven” desde generaciones atrás y que provocan en sus moradores un especial interés y asombro.
                                </p>
                                <br/>

                            </div>
                            <div class="col-md-5">
                                <br/>
                                <center><img class="featurette-image img-responsive" src="/static/img/origen2.jpg" alt="Generic placeholder image"></center>
                            </div>
                         </div>

                        <div class="row featurette">
                            <div class="col-md-5">
                                <br/><br/>
                                <center><img class="featurette-image img-responsive" src="/static/img/origen1.jpg" alt="Generic placeholder image"></center>
                            </div>
                            <div class="col-md-7">
                                <br/><br/>

                                <p class="origen">
                                   En sus alrededores se habla de duendes que se llevan los moñones (chicos y chicas de cabello largo), las procesiones encabezadas por el diablo que se alzan con los curiosos que miran por las rendijas, el ataúd que pescaba en la poza, las guitarras que se escuchaban entonar debajo de la laguna, la ciudad que se la podía ver debajo en las noches; entre otras muchas, son las leyendas que han endulzado la imaginación y los nervios de propios y extraños a lo largo de las décadas.
                                </p>
                                <p class="origen">
                                Las comunidades circundantes al Humedal poseen casi los mismos beneficios en cuanto a infraestructura vial, salud, transporte, educación, empleo y producción.
                                </p>

                            </div>
                         </div>


                    </div>

                </div>


        </div>





    </div>
    <br/>

{% endblock %}


{% block contenido-md-4 %}
    <br/>
    <a href="/galeria/"><img style="border-radius: 5px" class="img img-responsive" src="/static/img/galeria.gif" alt=""/></a>
    <br/>
    <div align="center"><iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Flatembladera%3Ffref%3Dts&amp;width=310&amp;height=490&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:310px; height:490px;" allowTransparency="true"></iframe></div>
{% endblock %}

{% block js %}
    $("#inicio").removeClass("active");
    $("#origen").addClass("active");


{% endblock %}