{% extends 'base.html' %}

{% block contenido %}
    <div class="container cent">
        <div class="row">
            <div class="col-xs-12 well">
                <br/>
                <h1 class="titulo well"> POLÍTICAS</h1>
                <br/>
                <embed src="/static/documents/Politica-de-Calidad.pdf" width="100%" height="1070px"></embed>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    $("#inicio").removeClass("active");
    $("#empresa").addClass("active");
{% endblock %}