{% extends 'base.html' %}

{% block contenido-md-8 %}
    <div class="panel panel-primary">
        <div class="panel-heading">
        <h1 class="panel-title" style="text-align: center">PROYECTOS</h1>
        </div>
        <div class="panel-body">
        {% for i in proyectos %}
            <h4 class="well" style="text-align: center">{{ i.titulo }}</h4>
            <br/>

            <p style="text-align: justify"><span class="label label-success">Breve Descripcion:</span>&nbsp;&nbsp;
            {{ i.descripcion | safe}} &nbsp;
            </p>

            <b>Visualiza completamente este proyecto haciendo clic<a style="font-size: 20px;" target="_blank" href="/media/{{ i.archivo }}"><b> AQUI...</b></a></b>
            <hr/>
            {% empty %}
            <h2>No hay Proyectos</h2>
            {% endfor %}

<h4 style="text-align: center">
        {% if proyectos.has_previous %}
            <a href="?page={{ proyectos.previous_page_number }}">Anterior</a>
        {% endif %}

         Página {{ proyectos.number }} de {{ proyectos.paginator.num_pages }}

        {% if proyectos.has_next %}
             <a href="?page={{ proyectos.next_page_number }}">Siguiente</a>
        {% endif %}
</h4>

        </div>
    </div>

{% endblock %}


{% block contenido-md-4 %}
    <a href="/galeria/"><img style="border-radius: 5px" class="img img-responsive" src="/static/img/galeria.gif" alt=""/></a>
    <br/>
    <div align="center"><iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Flatembladera%3Ffref%3Dts&amp;width=310&amp;height=490&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:310px; height:490px;" allowTransparency="true"></iframe></div>
{% endblock %}


{% block js %}
    $("#inicio").removeClass("active");
    $("#proyectos").addClass("active");
{% endblock %}