{% extends 'base.html' %}

{% block contenido-md-8%}

    <div class="row well">
                    {{noticia.as_p}}
                    <h3 class="well tituloNoticia">{{ noticia.titulo }}</h3>
                    <form action="" method="GET" >{% csrf_token %}

                        <table>

                            <tr><td><label class="label label-primary">Fecha</label></td><td style=" font-size: x-small">{{ noticia.fecha }}</td></tr>
                            <tr><td><label class="label label-primary"></label></td><td style="text-align: center"><center><img class="img img-responsive" style="border-radius: 6px;" src="/media/{{noticia.imagen}}" width="50%" ></center></td></tr>
                            <tr><td><label class="label label-primary">Contenido</label></td>
                            <tr><td></td><td style="text-align: justify;">{{ noticia.contenido | linebreaksbr }}</td></tr>
                        </table>

            </form>


                </div>


{% endblock %}

{% block contenido-md-4 %}
    <a href="/galeria/"><img style="border-radius: 5px" class="img img-responsive" src="/static/img/galeria.gif" alt=""/></a>
    <br/>
    <a href="http://latembladera-ecuador.com/tembladera/" target="_blank"><img style="border-radius: 5px" class="img img-responsive" src="/static/img/humedal.gif" alt=""/></a>
    <br/>
    <div align="center"><iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Flatembladera%3Ffref%3Dts&amp;width=310&amp;height=490&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:310px; height:490px;" allowTransparency="true"></iframe></div>
{% endblock %}

{% block js %}
    $("#inicio").removeClass("active");
    $("#noticias").addClass("active");
{% endblock %}